<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form name="passdata" action="." method="post">
            <label>Name1: </label>
            <input type="text" name="name1">
            <label>Name2: </label>
            <input type="text" name="name2">
            <label>Name3: </label>
            <input type="text" name="name3">
            <label>Name4: </label>
            <input type="text" name="name4">
            <input type="submit" value="submit">
        </form>
    </body>
</html>